* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3351d8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
}
body {
  height: 100vh;
  overflow: hidden;
  background-color: hsla(252, 63.6%, 41%, 0.9);
  color: white;
}
.fa-pencil {
  color: rgb(66, 57, 5);
}
.fa-trash-alt {
  color: rgb(78, 3, 78);
}
.fa-sign-in-alt {
  color: rgb(28, 54, 28);
}
