header {
  height: 80px;
  button {
    color: #fff !important;
  }
  background-color: hsla(252, 63.6%, 41%, 0.9);
  color: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    span {
      color: white;
    }
    i {
      color: white;
    }
  }
  #menu,
  .headerSections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      background-color: #fff;
    }
  }
}
#users {
  background-color: transparent !important;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;

  option {
    padding: 10px;
    color: black;
  }
}
